.todo-item {
  position: relative;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 0px 0px 3px #c5c5c5;
  transition: all ease 1s;
}

.todo-item_done {
  background: rgba(10, 95, 10, .3);
}

.todo-item__name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  width: fit-content;
  padding-left: 10px;
}

.todo-item__delete-btn {
  position: absolute;
  padding: 0;
  border: none;
  outline: none;
  width: 16px;
  height: 16px;
  right: 5px;
  top: calc(50% - 8px);
  background: none;
  background-image: url('../../images/todo-item__delete-btn.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .6;
  transition: opacity ease .5s;
}

.todo-item__delete-btn:hover {
  opacity: 1;
}